.hero {
  padding-top: 64px;
  margin-bottom: 32px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background_shadow {
  z-index: -2;
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background: radial-gradient(90% 100% at 50% 0%, rgba(56, 91, 179, 0.4), rgba(255, 255, 255, 0));
}

.hero_title {
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 120%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(80deg, #f8f6f2, #f8f6f2, rgb(133, 135, 153));
  opacity: 0;
  animation: textReveal 0.4s 0.4s forwards;
}

.hero_suphead {
  margin-bottom: 24px;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 9999px;
  background: rgba(80, 80, 80, 0.4);
  border: 1px solid rgba(120, 120, 120, 0.4);
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.08);
  opacity: 0;
  animation: textReveal 0.4s 0.2s forwards;
}

.hero_subhead {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: rgb(180, 189, 208);
  line-height: 150%;
  opacity: 0;
  animation: textReveal 0.4s 0.6s forwards;
}

.hero_button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 48px;
  padding: 12px 24px;
  border-radius: 16px;
  background: linear-gradient(to right, #385bb3, rgb(95, 187, 207));
  transition: 0.3s ease;
  opacity: 0;
  animation: fadeIn 0.4s 0.8s ease forwards;
}
.hero_button:active {
  scale: 0.95;
}
.hero_button img {
  rotate: -90deg;
}

@keyframes gradientAnim {
  from {
    background-position: 1000% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}
.circle_rotate_container {
  position: absolute;
  display: flex;
  right: -100px;
  top: 43%;
  opacity: 0;
  justify-content: center;
  animation: fadeIn 0.8s 3s cubic-bezier(0.23, 0.6, 0.64, 1) forwards;
}
.circle_rotate_container img {
  pointer-events: none;
  position: absolute;
  user-select: none;
  display: flex;
  width: 64px;
  align-self: center;
}

.circle_rotate {
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  text-transform: uppercase;
  animation: circleRotate 10s linear infinite;
}
.circle_rotate > span {
  position: absolute;
  transform-origin: 0 75px;
  left: 50%;
  font-size: 16px;
  font-weight: 700;
}
.circle_rotate > span span {
  display: block;
  transform: rotate(4deg);
}

@keyframes circleRotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes textReveal {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes arrowSpring {
  0%, 10%, 20% {
    rotate: 0deg;
  }
  5%, 15% {
    rotate: 20deg;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@media screen and (max-width: 800px) {
  .hero_title {
    font-size: 44px;
  }
  .hero_title br {
    display: none;
  }
  .hero_subhead {
    font-size: 18px;
    display: flex;
  }
}
@media screen and (max-width: 640px) {
  .hero_subhead br {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .hero {
    padding-top: 48px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 420px) {
  .hero_title {
    font-size: 38px;
  }
}
@media screen and (max-width: 374px) {
  .hero_title {
    font-size: 32px;
  }
}

/*# sourceMappingURL=Hero_new.css.map */
