.navbar {
  z-index: 1000;
  position: relative;
}
.navbar .container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 32px;
  justify-content: space-between;
  opacity: 0;
  animation: textReveal 0.4s cubic-bezier(0.23, 0.6, 0.64, 1) forwards;
}
.navbar .container > a {
  display: flex;
}

.navbar_logo {
  width: 64px;
  height: 64px;
  transform: translateX(-12px);
  transition: 0.3s cubic-bezier(0.23, 0.6, 0.64, 1);
}
.navbar_logo:hover {
  scale: 1.15;
}
.navbar_logo img {
  width: 100%;
  height: 100%;
}

@keyframes navbarReveal {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.navbar_ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar_ul a {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 12px 24px;
  font-weight: 500;
}
.navbar_ul a:before {
  content: "";
  position: absolute;
  top: 0;
  opacity: 0;
  background: #fff;
  height: 100%;
  width: 100%;
  left: 0;
  border-radius: 16px;
  transition: 0.4s cubic-bezier(0.23, 0.6, 0.64, 1);
}
.navbar_ul a li {
  position: relative;
  transition: transform 0.4s cubic-bezier(0.38, 0.68, 0.43, 0.89), color 0.4s 0.4s cubic-bezier(0.23, 0.6, 0.64, 1);
}
.navbar_ul a li:first-child {
  transform: translateY(0);
}
.navbar_ul a li:last-child {
  position: absolute;
  transform: translateY(48px);
}
.navbar_ul a:hover:before {
  opacity: 0.2;
  transition-delay: 0.4s;
}
.navbar_ul a:hover li:first-child {
  transform: translateY(-48px);
}
.navbar_ul a:hover li:last-child {
  transform: translateY(0px);
  color: #cdcdcd;
}

.authorization {
  display: flex;
  gap: 32px;
  position: relative;
  align-items: center;
}

.login {
  border-radius: 16px;
  border: 1px solid #dadada;
  padding: 12px 24px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}
.login:hover {
  color: #fff;
  border: 1px solid #385bb3;
}
.login:hover:before {
  opacity: 1;
  transform: translate(-30px, -30px);
}
.login:active {
  scale: 0.9;
}
.login:before {
  content: "";
  position: absolute;
  background: #385bb3;
  transform: translate(60px, 60px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.4s cubic-bezier(0.23, 0.6, 0.64, 1);
}

.nav_mobile {
  display: flex;
  gap: 32px;
  align-items: center;
}

.mobile_navbar {
  padding: 0 32px;
  top: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100svh;
  left: 0;
  background: rgba(12, 44, 86, 0.6);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.mobile_navbar_top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
.mobile_navbar_top_menu a {
  text-decoration: none;
}

.mobile_navbar_close {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.mobile_navbar_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: flex-start;
  margin-top: 64px;
}
.mobile_navbar_ul li {
  font-size: 32px;
  font-weight: 500;
}

.account_info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.account_info .product_dot svg path {
  stroke: #fff;
  fill: #fff;
}

.navbar_icons {
  display: flex;
  padding: 12px 16px;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  transition: 0.4s ease;
  cursor: pointer;
}
.navbar_icons:hover {
  background: rgba(255, 255, 255, 0.1);
}

.navbar_notifications {
  padding: 12px;
  display: flex;
  position: relative;
}
.navbar_notifications svg {
  width: 24px;
  height: 24px;
}

.notification_count {
  display: flex;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: #b33861;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.navbar_username {
  font-weight: 600;
  color: #58e9ff;
}

.navbar_balance {
  color: #70ffc1;
}

.burger_btn {
  position: relative;
  display: none;
  flex-direction: column;
  min-width: 32px;
  height: 32px;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}
.burger_btn span {
  position: absolute;
  border-radius: 8px;
  width: 32px;
  height: 3px;
  background: #fff;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  transform-origin: center;
}
.burger_btn span:nth-child(1) {
  transform: translateY(-8px);
  width: 50%;
  transform-origin: top;
}
.burger_btn span:nth-child(3) {
  transform: translateY(8px);
  width: 75%;
  transform-origin: bottom;
}
.burger_btn.non-clickable {
  pointer-events: none;
}

.backdrop_navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
  z-index: -1;
}
.backdrop_navbar .container {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 88px 24px 0 24px;
}

.notification_menu {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  width: 100%;
  max-width: 480px;
  background: #1F366A;
}

.notification_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.notification_label {
  font-weight: 600;
  font-size: 20px;
}

.notification_close {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.notification_close svg {
  width: 100%;
  height: 100%;
}
.notification_close svg path {
  fill: #fff;
  transition: 0.3s ease;
}
.notification_close:hover svg path {
  fill: #aaaaaa;
}

.notifications {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notification_box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 12px 16px;
  border-radius: 12px;
  transition: 0.4s ease;
}
.notification_box:hover {
  background: rgba(0, 0, 0, 0.3);
}

.notification_content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification_indicator {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  background: #5384ff;
}
.dot.pulse {
  position: absolute;
  opacity: 1;
  animation: dotPulse 2s ease infinite;
}

.notification_info {
  width: 100%;
}
.notification_info .dot {
  display: inline-block;
  margin: 0px 8px 4px 8px;
  background: #fff;
  width: 4px;
  height: 4px;
}

.notification_message {
  display: inline;
}

.notification_date {
  display: inline;
}

.notification_more {
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}
.notification_more:hover {
  background: rgba(255, 255, 255, 0.2);
}
.notification_more svg {
  display: block;
  width: 24px;
  height: 24px;
}

.notification_buttons {
  width: 100%;
  justify-content: space-between;
  margin-top: 24px;
  display: flex;
  gap: 8px;
}

.notification_button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}
.notification_button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.notifications_read {
  color: #5384ff;
}

.notifications_clear {
  color: #de4779;
}

@keyframes dotPulse {
  0% {
    scale: 1;
    opacity: 1;
  }
  50%, 100% {
    scale: 2.5;
    opacity: 0;
  }
}
@media screen and (max-width: 1080px) {
  .navbar_ul {
    display: none;
  }
  .burger_btn {
    display: flex;
  }
  .mobile_navbar {
    display: flex;
  }
}
@media screen and (max-width: 640px) {
  .login {
    padding: 8px 16px;
  }
  .navbar_icons {
    padding: 8px 16px;
  }
  .navbar_notifications {
    padding: 8px;
  }
  .navbar_notifications svg {
    width: 24px;
    height: 24px;
  }
  .notification_count {
    top: -8px;
    right: -8px;
    font-size: 14px;
  }
  .navbar_username {
    font-size: 16px;
  }
  .navbar_balance {
    font-size: 16px;
  }
  .account_info {
    gap: 8px;
  }
}
@media screen and (max-width: 460px) {
  .login {
    padding: 8px 12px;
    font-size: 12px;
  }
  .navbar_icons {
    padding: 8px 12px;
    border-radius: 12px;
  }
  .navbar_notifications {
    padding: 8px;
  }
  .navbar_notifications svg {
    width: 18px;
    height: 18px;
  }
  .notification_count {
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
  .navbar_username {
    font-size: 12px;
  }
  .navbar_balance {
    font-size: 12px;
  }
  .account_info {
    gap: 4px;
  }
}
@media screen and (max-width: 380px) {
  .nav_mobile {
    gap: 24px;
  }
  .login {
    padding: 8px 8px;
  }
  .navbar_icons {
    padding: 8px 8px;
  }
  .navbar_notifications {
    padding: 8px;
  }
  .navbar_notifications svg {
    width: 16px;
    height: 16px;
  }
  .account_info {
    gap: 4px;
  }
}

/*# sourceMappingURL=Navbar.css.map */
